@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
    font-family: Hamurz;
    src: url("../assets/Hamurz.ttf")  format("truetype");
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    overflow-x: hidden;

    font-family: 'Hamurz', sans-serif;

    background-image: url('../assets/bg.jpg');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #131d14;

    color: white;
}

h1 {
    font-size: 3em;
}

#countdown {
    padding-top: 15%;
    margin: 0;
}

#countdown, #time-table {
    text-align: center;
    font-size: 1.5em;
}

table {
    table-layout: fixed;
    width: 80%;
    margin-left: 10%;
}

.row {
    width: 80%;
    margin-left: 10%;
}

p.button-parent {
    width: 100%;
    margin: 15px auto 30px;
    text-align: center;
    position: relative;
}

a.button {
    margin: 0 auto;
    padding: 0.25em 1em;
    padding-top: 0.4em;
    color: white;
    text-decoration: none;
    border: solid white 3px;
    border-radius: 0.5em;
    position: relative;
    overflow: hidden;
    display: inline-block;
    transition: 0.25s all;
}

a.button::before {
    content: "";
    /*background-color: white;*/
    position: absolute;
    top: 0;
    left: -450%;
    height: 20em;
    width: 20em;
    /* 50 - sqrt(20) */
    transform: translateY(-9.3em) rotate(45deg);
    z-index: -100;
    transition: 0.25s all;
    /*border-radius: 0.75em;*/
    border: solid 4px white;
}

a.button::after {
    content: "";
    position: absolute;
    top: 0;
    left: -435%;
    height: 18em;
    width: 18em;
    /* 50 - sqrt(20) */
    transform: translateY(-8.1em) rotate(45deg);
    z-index: -100;
    transition: 0.25s all;
    /*border-radius: 0.5em;*/
    background-color: white;
}

a.button:hover::before {
    left: -310%;
}

a.button:hover::after {
    left: -270%;
}

#content a.button:hover {
    color: #131d14;
}

/*
BG image is 1440x1810, and width is 100%, so
if we want to start where the picture ends,
we need to do 1810 / 1440 * vw
but since we offset by a bunch depending on resolution, this can't be fixed
*/
#content {
    position: absolute;
    padding: 0;
    margin: 0;
    top: calc(1810 / 1440 * 100vw);
    width: 100%;
    font-size: 1.25em;
}

#content a {
    color: white;
}

#content > footer {
    padding: 15px;
    padding-bottom: 20px;
    margin-top: 20px;
    background-color: #eeeeee;
    color: #131d14;
    text-align: center;
}
#content > footer > .row {
    justify-content: center;
    margin-bottom: 10px;
}
#content > footer > .row > a > img {
    height: 30px;
}
#content > footer > .row > a {
    padding-right: 15px;
    transition: transform 0.3s;
}
#content > footer > .row > a:last-child {
    padding-right: 0;
}
#content > footer > .row > a:hover {
    transform: scale(1.2);
}

#logo {
    width: 25%;
    text-align: center;
}

.half-col p {
    font-family: 'Open Sans', sans-serif;
}

/* styles for mailchimp form */

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10;
    overflow: auto;
}

#mc_embed_signup {
    position: relative;
    clear:left;
    background-color: #0B160C;
    top: 50%;
    left: 50%;
    width: 750px;
    max-width: 100%;
    transform: translate(-50%, -50%);
}

#mc_embed_signup form {
    padding: .5em 0 .5em 1em;
}

#mc_embed_signup .button {
    background-color: #0B160C;
    font-family: 'Hamurz', sans-serif; 
    border: 1px solid white;
    font-size: 1em;
    color: #fff;
    padding: .5% 1%;
    transition: all 0.23s ease-in-out 0s;
    cursor: pointer;
}

#mc_embed_signup .button:hover {
    background-color: white;
    color: #0B160C;
}

#mc_embed_signup div.response, #mc_embed_signup div.mce_inline_error {
    background-color: #0B160C !important;
}

#mc_embed_signup #close {
    position: absolute;
    font-size: 1.5em;
    top: .5em;
    right: .5em;
    cursor: pointer;
}

#mc_embed_signup h2 {
    padding-right: 1.5em;
}

#mc_embed_signup .mc-field-group {
    clear: left;
    position: relative;
    width: 95%;
    padding-bottom: 3%;
    min-height: 50px;
}

#mc_embed_signup .indicates-required {
    text-align: right;
    margin-right: 5%;
    font-size: 12px;
}

#mc_embed_signup .asterisk {
    color: #e85c41;
    font-size: 150%;
    font-weight: normal;
    position: relative;
    top: 5px;
}

#mc_embed_signup input {
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#mc_embed_signup .mc-field-group input {
    display: block;
    width: 100%;
    padding: 8px 0;
    text-indent: 2%;
}

/*@media only screen and (min-width: 1080px) {*/
@media only screen and (min-aspect-ratio: 1/1) {
    body {
        background-position: 0 -35vw;
    }

    #countdown, #time-table {
        font-size: 2em;
    }

    #countdown {
        padding-top: 10%;
    }

    #content {
        top: calc(1810 / 1440 * 100vw - 35vw);
    }
    #content > footer > .row > a > img {
        height: 40px;
    }

    .row {
        display: flex;
    }
    .half-col {
        width: 50%;
    }

    .half-col > p {
        padding: 0.25em 1em;
        font-size: .8em;
    }

    #logo {
        position: absolute;
        top: 3%;
        left: 2%;
        width: 13%;
    }
}

@media only screen and (min-aspect-ratio: 5/2) {
    body {
        background-position: 0 -45vw;
    }

    #countdown, #time-table {
        font-size: 1.5em;
    }

    #countdown {
        padding-top: 5%;
    }

    #content {
        top: calc(1810 / 1440 * 100vw - 45vw);
    }
}

@media only screen and (max-width: 480px) {
    #content {
        top: 600px;
    }
}
